# Environment files
.env

# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Private observational data
data/raw
data/bronze

# Internal project artifacts
internal/

# OS
.DS_Store

# Misc
EDF
